@import "vars"
@import "fonts"
@import "libs"

/*==========  user style  ==========*/
*
	&:focus
		outline: none

body
	font-family: $main-font
	color: #444

section
	padding: 100px 0
	+media-breakpoint-down(lg)
		padding: 70px 0
	+media-breakpoint-down(sm)
		padding: 50px 0
	

header
	padding: 20px 0
	background: #ffffff
	.logo img
		width: 100%
		+media-breakpoint-down(md)
			width: 250%
		+media-breakpoint-down(sm)
			width: 30%
			margin: 0 auto
			display: block
	#pull
		+media-breakpoint-down(sm)
			display: block
			width: 100%
			text-align: center
			font-size: 30px
			color: #333
			font-weight: bold
			text-decoration: none
			margin-top: 20px
	.main-menu
		display: flex
		align-items: center
		+media-breakpoint-down(sm)
			display: block
		ul
			margin-left: auto
			margin-bottom: 0
			list-style: none
			+media-breakpoint-down(sm)
				display: none
				margin: 0
				padding: 0
			li
				float: left
				+media-breakpoint-down(sm)
					display: block
					width: 100%
					text-align: center
					margin-top: 20px
				a
					color: #000
					margin-left: 30px
					font-size: 16px
					text-transform: uppercase
					font-weight: bold
					transition: .2s
					&:hover
						text-decoration: none
						color: $color-1
					+media-breakpoint-down(sm)
						margin-left: 0

.header-bg
	height: 80vh
	width: 100%
	position: relative
	overflow: hidden
	+media-breakpoint-down(lg)
		height: 75vh
	+media-breakpoint-down(md)
		height: 100%
	video
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 100%
		z-index: -1
		+media-breakpoint-down(lg)
			height: 100%
			width: auto
	&::after
		content: ""
		display: block
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		background: rgba(#000, .8)
		z-index: -1
	.container
		height: 100%
.header-title
	z-index: 3
	color: #fff
	justify-content: space-between
	align-items: center
	height: 100%
	h2
		font-size: 28px
		text-transform: uppercase
		font-weight: 500
		letter-spacing: 16px
		+media-breakpoint-down(lg)
			font-size: 24px
		+media-breakpoint-down(md)
			text-align: center
		+media-breakpoint-down(sm)
			font-size: 18px
			letter-spacing: 10px
	h1
		letter-spacing: 3px
		text-transform: uppercase
		+media-breakpoint-down(md)
			text-align: center
		span
			color: $color-3
			font-size: 100px
			&:first-child()
				color: $color-2
				font-size: 102px
				display: block
				+media-breakpoint-down(lg)
					font-size: 92px
				+media-breakpoint-down(sm)
					font-size: 62px	
			&:last-child()
				color: $color-1
			+media-breakpoint-down(lg)
				font-size: 90px
			+media-breakpoint-down(sm)
				font-size: 60px


form
	width: 100%
	span
		font-size: 24px
		text-transform: uppercase
		letter-spacing: 1px
		text-align: center
		width: 100%
		display: block
		font-weight: bold
		+media-breakpoint-down(md)
			font-size: 26px
			letter-spacing: 3px
			margin-top: 50px
		+media-breakpoint-down(sm)
			font-size: 18px
			margin-top: 20px
	input
		display: block
		width: 100%
		border-radius: 3px
		border: 0
		margin-top: 20px
		height: 50px
		padding: 10px 15px
		+media-breakpoint-down(md)
			width: 50%
			margin: 20px auto
		+media-breakpoint-down(sm)
			height: 40px
			width: 80%
	input[type="submit"]
		background: $color-2
		color: #fff
		font-weight: bold
		letter-spacing: 1px
		font-size: 20px
		transition: .2s
		position: relative
		display: flex
		align-items: center
		justify-content: center
		padding-top: 0
		padding-bottom: 0
		box-shadow: 0 3px 0 0 darken($color-2, 10%)
		&:hover
			background: darken($color-2, 5%)
			cursor: pointer
			transform: translateY(3px)
			box-shadow: 0 0 0 0 darken($color-2, 10%)
		+media-breakpoint-down(sm)
			font-size: 18px

.section-title
	text-transform: uppercase
	font-size: 40px
	font-weight: bold
	text-align: center
	width: 100%
	margin-bottom: 30px
	color: $color-2
	letter-spacing: 3px
	position: relative
	&::after
		content: attr(data-parent)
		position: absolute
		width: 100%
		left: 50%
		transform: translateX(-50%)
		z-index: -1
		bottom: 0
		color: #ebebeb
		font-size: 60px
	+media-breakpoint-down(lg)
		font-size: 35px
		&::after
			font-size: 50px
	+media-breakpoint-down(sm)
		font-size: 30px
		&::after
			display: none

.capuero-description
	font-size: 18px
	text-align: center
	+media-breakpoint-down(sm)
		font-size: 16px
		padding: 0 20px

.capuero-items
	justify-content: space-around
	text-align: center
	margin-top: 50px
	+media-breakpoint-down(sm)
		padding: 0 20px
	.capuero-item
		text-align: center
		margin-bottom: 30px
		.media
			width: 200px
			height: 200px
			margin: 0 auto
			overflow: hidden
			+media-breakpoint-down(lg)
				width: 150px
				height: 150px
				img
					width: 100%
			+media-breakpoint-down(sm)
				width: 120px
				height: 120px
		.title
			font-size: 24px
			font-weight: bold
			text-transform: uppercase
			margin: 30px 0 10px
			+media-breakpoint-down(sm)
				font-size: 20px

.trainer, .modal-trainer
	margin-top: 70px
	+media-breakpoint-down(sm)
		margin-top: 20px
	.media
		width: 330px
		height: 330px
		margin: 0 auto
		overflow: hidden
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
		img
			width: 100%
		+media-breakpoint-down(lg)
			width: 250px
			height: 250px
		+media-breakpoint-down(md)
			width: 200px
			height: 200px
	.name
		font-size: 28px
		font-weight: bold
		text-transform: uppercase
		text-align: center
		color: $color-3
		margin-top: 30px
		letter-spacing: 3px
		hr
			border: none
			background: $color-1
			height: 2px
			width: 100px
			margin: 5px auto
		+media-breakpoint-down(lg)
			font-size: 24px
.modal-trainer
	margin-top: 0
	top: -80px
	left: -80px
	float: left
	margin-right: 25px
	+media-breakpoint-down(sm)
		width: 100%
		margin-bottom: 20px
	.media
		width: 200px
		height: 200px
		position: relative
		.name
			position: absolute
			font-size: 16px
			margin-top: -50px
			padding: 10px
			color: $color-2
			width: 100%
			bottom: 0
			background: rgba(#000, .6)


.trainer-history
	div
		margin-top: 70px
		font-style: italic
		font-size: 18px
		letter-spacing: 1px
		color: #fff
		padding: 20px
		background: rgba($color-3, .8)
		border-radius: 3px
		+media-breakpoint-down(lg)
			font-size: 16px
		+media-breakpoint-down(sm)
			margin-top: 30px
			font-size: 14px
	.btn-read-more
		background: $color-1
		padding: 15px 20px
		margin-top: 30px
		display: block
		float: right
		border-radius: 3px
		font-weight: bold
		color: $color-3
		transition: .2s
		&:hover
			background: lighten($color-1, 10%)
			cursor: pointer

.table
	width: 100%
	margin-top: 70px
	margin-bottom: 30px
	display: flex
	flex-wrap: wrap
	.column
		width: 14.22222222%
		&:nth-child(odd) .th
			background: #e5e5e5
		&:last-child .td
			border: none
		+media-breakpoint-down(md)
			width: 25%
			&:nth-child(6) .td
				border: none
			&:nth-child(3) .th
				background: #ebebeb
		+media-breakpoint-down(sm)
			width: 50%
			&:nth-child(3n) .td
				border: none
			&:nth-child(odd) .th
				background: #ebebeb
	.th
		background: #ebebeb
		text-align: center
		height: 70px
		display: flex
		justify-content: center
		align-items: center
		font-weight: bold
	.td
		padding: 40px 20px
		vertical-align: top
		border-right: 1px solid #ebebeb
		height: 100%
		+media-breakpoint-down(lg)
			padding: 40px 10px
	span.time
		color: darken($color-1, 10%)
		font-weight: bold
		font-size: 20px
		display: block
		margin-top: 20px
		&:first-child
			margin-top: 0
		+media-breakpoint-down(lg)
			font-size: 17px

.gallary
	position: relative
	margin-top: 70px
	.btn
		position: absolute
		padding: 15px 30px
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		background: $color-2
		border-radius: 30px
		transition: .2s
		&:hover
			background: lighten($color-2, 5%)
			cursor: pointer
			a
				text-decoration: none
		a
			color: #fff
			font-weight: bold
			font-size: 20px
			+media-breakpoint-down(sm)
				font-size: 16px
.popup-gallery
	display: flex
	flex-wrap: wrap
	.gallary-item
		width: 25%
		overflow: hidden
		height: 350px
		display: flex
		justify-content: center
		align-items: center
		position: relative
		&::after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(#000, .3)
		&:hover
			img
				transform: scale(1.1)
		img
			transition: .2s
			height: 100%
		+media-breakpoint-down(lg)
			height: 250px
		+media-breakpoint-down(md)
			height: 200px
		+media-breakpoint-down(sm)
			width: 100%
			height: 250px

.contacts
	font-size: 26px
	margin-top: 40px
	text-align: center
	margin-bottom: 50px
	i
		font-size: 40px
		margin-bottom: 10px
		margin-top: 30px
		color: $color-3
	+media-breakpoint-down(sm)
		font-size: 22px
		i
			font-size: 30px
	
.social
	i
		transition: .2s
		&:hover
			color: $color-1

footer
	margin-top: -100px
	padding-bottom: 50px
	background: #333
	color: #fff
	+media-breakpoint-down(lg)
		margin-top: -70px
	+media-breakpoint-down(sm)
		margin-top: -50px
	.row
		justify-content: space-between
	.footer-title	
		font-size: 20px
		font-weight: bold
		text-transform: uppercase
		margin-bottom: 50px
		position: relative
		padding-top: 50px
		&::after
			content: ""
			display: block
			position: absolute
			width: 50px
			bottom: -15px
			height: 3px
			background: $color-1
	i.fa
		color: $color-2
		margin-right: 10px
		font-size: 20px
	.social i.fa
		font-size: 30px
	ul
		list-style: none
		padding: 0
		li
			margin-bottom: 20px
			a
				color: #fff
				transition: .2s
				&:hover
					color: $color-2
					text-decoration: none

#modal
	width: 80%
	margin: 100px auto
	background: #fefefe
	padding: 30px 50px
	position: relative
	border-radius: 3px
	+media-breakpoint-down(sm)
		width: 100%
		margin: 0
		padding: 20px
	a.close
		position: absolute
		right: 15px
		top: 5px
		font-size: 30px
		color: $color-3
		transition: .2s
		&:hover
			color: lighten($color-3, 20%)

section.gallary
	padding: 0 0 200px
	margin-top: 0
	.gallary-item
		height: 240px
		margin-top: 15px
		margin-bottom: 15px
		img
			width: 100%
			height: auto
		&:hover
			img
				transform: none
		&::after
			background: none
		+media-breakpoint-down(lg)
			height: 170px
		+media-breakpoint-down(md)
			height: 200px
		+media-breakpoint-down(sm)
			margin-top: 0
	.section-title
		margin-top: 50px
	video
		height: 100%
		margin-top: 50px
	.popup-gallery
		margin-bottom: 100px

/*==========  user style  ==========*/

@import "media" // Always at the end